@use "@/styles/variables" as v;

.calendar {
  display: inline-flex;
  flex-direction: column;
  font-size: v.$font-sm;
  padding: 0.5rem;
  position: relative;

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    padding-block: 0.5rem;
  }

  &-table-header {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    color: v.$secondary-foreground;
    padding-block: 0.5rem;
  }

  &-weekday {
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-month-btn {
    all: unset;
    padding: 0.25rem;
    border-radius: 0.25rem;
    display: inline-block;
    align-items: center;
    justify-content: center;

    svg {
      height: 20px;
      width: 20px;
    }

    &:hover {
      background-color: v.$secondary;
    }
  }

  &-month-year {
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;

    &:hover {
      background-color: v.$secondary;
      cursor: pointer;
    }
  }

  &-year-month-selector {
    background-color: v.$background;
    width: 100%;
    padding: 0.5rem;
    position: absolute;
    top: 0px;
  }
}
