@use "@/styles/variables" as v;

.range-picker {
  position: relative;
  &-popover {
    position: absolute;
    top: 2.5rem;
    border-radius: 0.5rem;
    display: grid;
    width: max-content;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    background-color: #fff;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    & > div:nth-child(2) {
      border-right: 1px solid v.$border;
    }

    &-header {
      border-bottom: 1px solid v.$border;
      font-size: v.$font-sm;
      color: v.$foreground;
      padding: 0.5rem;
    }

    &-footer {
      border-top: 1px solid v.$border;
      display: flex;
      padding: 1rem;
    }

    &-footer,
    &-header {
      grid-column: span 2 / span 2;
    }

    &-predefinedrange {
      flex: 1;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;

      p {
        font-size: v.$font-sm;
        color: v.$primary;
        cursor: pointer;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    &-okbtn {
      all: unset;
      font-size: v.$font-sm;
      background-color: v.$primary;
      color: v.$primary-foreground;
      padding: 0.25rem 0.5rem;
      border-radius: 0.25rem;

      &:hover {
        opacity: 80%;
      }
    }
  }
}
